<!DOCTYPE html>
<html>
	<head>
		<!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/mobile-payment--v3.png"type="image/x-icon">
		<title>Your Bank</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type ="text/css" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/bfc8ff353d.js" crossorigin="anonymous"></script>
  </head>
	<body>
    