<%- include("./partials/header") %> 
<br>
<br>
<div class="container text-center">
    <div class="container">
        <h1>TRANSACTION FAILED</h1>
    </div>
    <hr>
    <br>
    <a href="/" class="btn btn-danger">New Transaction</a>
</div>

<%- include("./partials/footer") %> 