<%- include("./partials/header") %> 
<br>
<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>THE SPARKS FOUNDATION</h1>
        <hr><br>
        <h2>WEB DEVELOPMENT TASK 1</h2>
        <h1>AIMAN MUMTAZ</h1>
    </div>
    <a href="/home" class="btn btn-primary">Go To Website</a>
</div>

<%- include("./partials/footer") %> 