<%- include("./partials/header") %> 
<br>
<br>
<div class="container text-center">
    <div class="container">
        <h1>WELCOME TO YOUR BANK</h1>
    </div>
    <hr>
    <br>
    <a href="/customers" class="btn btn-primary">View All Customers</a>
</div>

<%- include("./partials/footer") %> 