<%- include("./partials/header") %> 
<br>
<br>
<div class="container text-center">
    <div class="container">
        <h1>TRANSACTION SUCCESSFUL</h1>
    </div>
        <hr>
        <br>
    <a href="/customers" class="btn btn-primary">New Transaction</a>
</div>

<%- include("./partials/footer") %> 